<div>
  <h1>TO DO LIST</h1>
</div>
<div>
  <mat-form-field class="example-form-field">
    <mat-label>Add Your Task</mat-label>
    <input matInput type="text" [(ngModel)]="value">
  </mat-form-field>

  <button mat-raised-button (click)="addTask()" *ngIf=!isEditVisible>Submit</button>
  <button mat-raised-button (click)="updateTask()" *ngIf=isEditVisible>Update</button>




  <mat-form-field>
    <mat-label>Choose a Date</mat-label>
    <input matInput [matDatepicker]="picker" (dateInput)="addEvent($event)">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="isFiltered ; else elseBlock2">
    <div *ngIf="newTasks.length; else elseBlock1">
      <mat-card *ngFor="let ele of newTasks">

        <mat-card-content>
          <h2>{{ele?.task}}</h2><span style="position:relative;top : 2px"
            *ngIf="ele.isCompleted"><b>COMPLETED</b></span>
        </mat-card-content>
        <mat-card-content><b>Created At</b> : {{ele?.createDate}}</mat-card-content>
        <mat-card-content *ngIf="ele?.isUpdated"><b>Updated At</b> : {{ele?.updateDate | date :
          'short'}}</mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="editTask(ele)" *ngIf="!ele.isCompleted">Edit</button>
          <button mat-button (click)="deletedTask(ele)">Delete</button>
          <button mat-button (click)="completedTask(ele)" *ngIf="!ele.isCompleted">Complete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #elseBlock1>
      No tasks for the date!
    </ng-template>
  </div>
  <ng-template #elseBlock2>
    <mat-card *ngFor="let ele of Tasks">

      <mat-card-content>
        <h2>{{ele?.task}}</h2><span style="position:relative;top : 2px" *ngIf="ele.isCompleted"><b>COMPLETED</b></span>
      </mat-card-content>
      <mat-card-content><b>Created At</b> : {{ele?.createDate}}</mat-card-content>
      <mat-card-content *ngIf="ele?.isUpdated"><b>Updated At</b> : {{ele?.updateDate | date :
        'short'}}</mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="editTask(ele)" *ngIf="!ele.isCompleted">Edit</button>
        <button mat-button (click)="deletedTask(ele)">Delete</button>
        <button mat-button (click)="completedTask(ele)" *ngIf="!ele.isCompleted">Complete</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
  <router-outlet></router-outlet>